#title {
  padding: 0.5rem 5rem;
  border-bottom: solid 3px #000;
}

#declareMovementContent {
  border: solid 3px #000;
  border-radius: 3px;
  margin: 8vh 15vw 0 15vw;
  height:100%;

  display: flex;
  flex-direction: column;
}

#declareMovementForm {
  display: flex;
  flex-direction: column;
  padding: 1vh 3vw 0 3vw
}

#declareMovementForm div {
  margin-top: 0.8rem;
}

.btn-drawn {
  border: solid 2px #000;
  border-radius: 1px;
  box-shadow: 3px 3px 0px #000;
}

#declareMovementCancelBtn {
  padding: 2px 4px;
  font-size: 14px;
  width: 5rem;
  margin-right: 2rem;
}

#declareMovementBtnDiv {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex: 1;
  margin: 0 3rem 2rem 3rem;
}

#alert {
  position: absolute;
  width: 100%;
}


select {
  height: 30px;
}

select, label, input {
  margin: 0 1vw;
}
