#historyMovementTitle {
  margin-bottom: 1rem ;
}

#historyMovementContent {
  border: solid 3px #000;
  border-radius: 3px;
  margin: 8vh 15vw 8vh 15vw;
  padding: 2rem;

  overflow: auto;
  display: flex;
  flex-direction: column;
  flex:1;
}

table {
}
